/* * * * * * * * * * * * *
 * Global
 * * * * * * * * * * * * */

* {
  border-radius: 0 !important;
}
html {
  background-color: #f0f0f0;
  height: 100%;
}
body {
  background: transparent;
  padding-top: 1.5em;
}
a, a:visited, a:active {
  color: #b66;
  text-decoration: none
}
a:hover {
  text-decoration: underline;
}

/* * * * * * * * * * * * *
 * Buttons
 * * * * * * * * * * * * */

button, button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn {
  color: #eee !important;
  border: 1px solid #d66 !important;
}
.btn:focus,.btn:active {
  color: #eee !important;
  outline: none !important;
  box-shadow: none;
}
.btn-ok {
  color: #eee !important;
  background-color: #b66;
}
.btn-ok:hover {
  color: #eee !important;
  background-color: #a55;
}
.btn-dark {
  color: #eee !important;
  background-color: #b66;
  border-color: #b66 !important;
}
.btn-dark:hover {
  color: #eee !important;
  border-color: #179634 !important;
  background-color: #179634;
}

/* * * * * * * * * * * * *
 * Input
 * * * * * * * * * * * * */

input:focus, textarea:focus {
/*
  box-shadow: 0 0 5px rgba(168,0,0,.5) !important;
*/  
  box-shadow: none !important;
  border: 1px solid #b66 !important;
}
.input-group-addon {
  color: #fff;
  font-weight: bold;
  background: #b66;
  border: 1px solid #b66;
}
.spacer {
  background: transparent !important;
  border: none !important;
}


/* * * * * * * * * * * * *
 * Collapsing elements
 * * * * * * * * * * * * */

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}
.num.collapse.in {
  display: table-cell;
}

/* * * * * * * * * * * * *
 * Panel
 * * * * * * * * * * * * */

.panel {
  border: 1px solid #444;
}
.panel-heading, .bottom-panel {
  padding: 1em;
  font-weight: bold !important;
  color: #eee !important;
  background-color: #444 !important;
}
.panel-heading a, .bottom-panel a {
  color: #eee;
}
.panel-footer, .panel-body {
  margin: 0;
  padding: 1em !important;
  padding-bottom: 0 !important;
  background-color: #fff !important;
}
.panel-default {
  padding: 0;
  margin: 0 !important;
}


/* * * * * * * * * * * * *
 * Markup
 * * * * * * * * * * * * */

.mobile {
  display: none;
}
.desktop {
  display: block;
}
.inline {
  width: 100%;
}
.wrapper {
  padding: 0 15px;
}
.container {
  max-width: 960px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 0;
}
.thumbnail-container {
  display: none;
  background-color: #eee !important;
}
.list-group-item {
  width: 100% !important;
  border: 1px solid #4c6e78 !important;
  margin: 0 !important;
}
.list-group-item.content {
  padding: 1.5em;
  margin: 0;
}
.list-group-item.heading,
.list-group-item.heading:hover {
  padding: 1em;
  background-color: #4c6e78;
  color: #eee;
  font-weight: bold;
  cursor: default !important;
}

/*.img-responsive {
    margin: 0 auto;
}*/

::selection {
  background: #b66;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #b66;
  color: #fff;
  text-shadow: none;
}

/* * * * * * * * * * * * *
 * Fix
 * * * * * * * * * * * * */

#navbar > ul {
  margin: 0;
  margin-top: -0.5em !important;
  padding-top: 0 !important;
}
#navbar > ul > li, #navbar > ul > li > a {
  margin: 0;
  padding: 4px;
  background: transparent;
}
#navbar > ul > li > a:hover {
  background: #b66;
}
div.panel-footer.row {
  padding: 0 !important;
}
.col-md-6 {
  margin: 0;
}
div.panel-footer.row > div {
  padding: 1em;
}
div.panel-footer.row > div:nth-child(1) {
  padding-right: 0.5em;
}
div.panel-footer.row > div:nth-child(2) {
  padding-left: 0.5em;
}

/* * * * * * * * * * * * *
 * Mobile
 * * * * * * * * * * * * */

@media screen and (max-width:480px) {
  html{
    box-shadow: none;
  }
  .input-group-addon {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .btn-ok {
    width: 100%;
  }
  .btn-group-justified button {
    width: 50% !important;
  }
  .panel-heading {
    text-align: center;
  }
  .btn-dark {
    width: 100%;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width:640px) {
  .btn-dark {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

@media screen and (max-width:990px) {
  div.panel-footer.row > div {
    padding: 1em !important;
  }
  div.panel-footer.row > div:nth-child(1) {
    padding-bottom: 0.5em !important;
  }
  div.panel-footer.row > div:nth-child(2) {
    padding-top: 0.5em !important;
  }
}
